<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="suite">
    <listeners>
  	
  		
  		<listener class-name="com.inetBanking.utilities.Listeners"/>
  		<!-- <listener class-name="com.inetBanking.utilities.Reporting"/> -->
  		
  
  </listeners>
  <test name="Test">
  	<parameter name="browser" value="chrome"/>
    <classes>
    <!--   <class name="com.inetBanking.testCases.TC_LoginTest_001"/>
       <class name="com.inetBanking.testCases.TC_LoginDDT_002"/> -->
       <class name="com.inetBanking.testCases.TC_003_AddNewCustomerTest"/>
      <!--   <class name="com.inetBanking.testCases.Tc_EditCustomerTest_004"/> -->
       <!-- <class name="com.inetBanking.testCases.TC_EditCustomerDDT_005"/> --> 
      <!--   <class name="com.inetBanking.testCases.TC_006_DeleteCustomer"/> -->
      <!--  <class name="com.inetBanking.testCases.TC_007_AddNewAccount"/> -->
          <!--   <class name="com.inetBanking.testCases.TC_008_EditAccount"/> -->
          
           <!--  <class name="com.inetBanking.testCases.TC_009_DeleteAccount"/> -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
